
@import "https://fonts.googleapis.com/css?family=Exo+2&display=swap";

#root {
  padding: 4rem 0;
  background: #CBE2C1;
  background: -webkit-linear-gradient(to right, #A1D360, #F6F1D3);
  background: -moz-linear-gradient(to right, #A1D360, #F6F1D3);
  background: -ms-linear-gradient(to right, #A1D360, #F6F1D3);
  background: linear-gradient(to right, #A1D360, #F6F1D3);
}

#imgBtn {
  border-radius: 5px;
  background: #CBE2C1;
  background: -webkit-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  background: -moz-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  background: -ms-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  background: linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  -webkit-animation: float 6s infinite;
  -moz-animation: float 6s infinite;
  -ms-animation: float 6s infinite;
  animation: float 6s infinite;
}
#imgBtn:hover {
  background: #CBE2C1;
  background: -webkit-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 50%, #F6F1D3);
  background: -moz-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 50%, #F6F1D3);
  background: -ms-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 50%, #F6F1D3);
  background: linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 50%, #F6F1D3);
}

#desc {
  color: #233045;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}
#desc:hover {
  color: #ba2140;
}

em {
  font-family: 'Exo 2', sans-serif;
  font-size: 21px;
}

strong, title {
  color: dodgerblue;
}

/* ======================================= */
/* 404 Page */
/* ======================================= */


#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px dodgerblue;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

/* ======================================= */
/* Key Frames */
/* ======================================= */
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

/* ======================================= */
/* Media Queries */
/* ======================================= */
@media (max-width: 700px) {
  #desc {
    font-size: 15px; /* once screen size goes below 700px, the font-size decreases */
    transition: ease all .5s;
  }
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}
