
@import "https://fonts.googleapis.com/css?family=Exo+2&display=swap";

#root {
  padding: 4rem 0;
  background: #CBE2C1;
  background: -webkit-linear-gradient(to right, #A1D360, #F6F1D3);
  background: -moz-linear-gradient(to right, #A1D360, #F6F1D3);
  background: -ms-linear-gradient(to right, #A1D360, #F6F1D3);
  background: linear-gradient(to right, #A1D360, #F6F1D3);
}

#imgBtn {
  background: #CBE2C1;
  background: -webkit-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  background: -moz-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  background: -ms-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  background: linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
}
#imgBtn:hover {
  background: #CBE2C1;
  background: -webkit-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 50%, #F6F1D3);
  background: -moz-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 50%, #F6F1D3);
  background: -ms-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 50%, #F6F1D3);
  background: linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 50%, #F6F1D3);
}

#desc {
  background: rgba(223,223,223,.5);
  background: -webkit-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  background: -moz-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  background: -ms-linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  background: linear-gradient(to right, #F6F1D3, rgba(161,211,96,.5) 85%, #F6F1D3);
  color: #233045;
  border-radius: 45px 7px;
  -webkit-animation: float 6s infinite;
  -moz-animation: float 6s infinite;
  -ms-animation: float 6s infinite;
  animation: float 6s infinite;
  -webkit-transition: background 3s ease-in-out;
  -moz-transition: background 3s ease-in-out;
  -ms-transition: background 3s ease-in-out;
  transition: background 3s ease-in-out;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}
#desc:hover {

  color: #ba2140;
}

em {
  font-family: 'Exo 2', sans-serif;
  font-size: 21px;
}

strong, title {
  color: dodgerblue;
}

/* ======================================= */
/* Key Frames */
/* ======================================= */
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

/* ======================================= */
/* Media Queries */
/* ======================================= */
@media (max-width: 700px) {
  #desc {
    font-size: 15px; /* once screen size goes below 700px, the font-size decreases */
    transition: ease all .5s;
  }
}
